# **SQL**
- SQL is a language used for `relational databases` and querying data

# **Database**
- Database is a repository of data and it provies the functionality for adding, modifying and querying data.

# **Relational Database**
- Relational Database is data stored in tabular form like columns and rows

# **DBMS**
- DBMS is a database management system software that manages databases
  - RDBMS is a relational database management system

# **Basic SQL Commands**
- Create table
- Insert
- Select
- Update
- Delete

# **SELECT Statement (DML)**
Data Manipulation Language (DML) is a statement used to read and modify data

- The select statement is calle Query and the result we get from the query is the Result

`SELECT` column1, column2, ...

`FROM` table_name

`WHERE` condition

- FROM: Specifies from which table to get the data. The clause can include optional JOIN subclauses to specify the rules for joining tables.
- WHERE : Specifies which rows to retrieve.

# **COUNT, DISTINCT, LIMIT**
-  `COUNT` is an aggregate function that retrieves the number of rows that matches the query criteria. For example
  - Retrieve the number of locations of the films which are written by James Cameron
  - `SELECT COUNT(Locations) FROM FilmLocations WHERE Writer="James Cameron";` will give the number of films written by James (45) 
- `DISTINCT` is used to remove duplicate values from a specified result set and only return the unique values
  - Retrieve the number of distributors distinctly who distributed films acted by Clint Eastwood as 1st actor.
  - `SELECT COUNT(DISTINCT Distributor) FROM FilmLocations WHERE Actor1="Clint Eastwood";`

-  `LIMIT` is used for restricting the number of rows retrieved from the table
  - Retrieve the first 15 rows from the "FilmLocations" table starting from row 11.
  - `SELECT * FROM FilmLocations LIMIT 15 OFFSET 10;`

# **INSERT, UPDATE, DELETE (DML)**
- `INSERT` is used to insert new rows into a table
  - Insert a new instructor record with id 4 for Sandip Saha who lives in Edmonton, CA into the "Instructor" table.
  - `INSERT INTO Instructor(ins_id, lastname, firstname, city, country)
VALUES(4, 'Saha', 'Sandip', 'Edmonton', 'CA');`
- ` UPDATE` is used to update the data in existing rows in the table
  - Update the city for Sandip to Toronto
  - `UPDATE Instructor 
SET city='Toronto' 
WHERE firstname="Sandip";`
- `DELETE` is used to remove rows from a table
  - Remove the instructor record of Doe(name of the column) whose id is 6.
  - `DELETE FROM instructor
WHERE ins_id = 6;`