# **String Patterns and Ranges**
- LIKE: Used with WHERE and searches string pattern predicate
- % is used to represent characters. It can be used after or before the string
  - `SELECT firstname FROM author WHERE firstname LIKE 'R%'`

- BETWEEN: Used with WHERE and returns values between the two number
  - `SELECT title, pages FROM book WHERE pages BETWEEN 290 and 300` 

- IN: Used with WHERE and returns values that are in the specified character
  - `SELECT firstname, lastname, country FROM author WHERE country IN ('AB', 'CD,'EF')`

# **SORT, GROUP**
- ORDER BY: sorts the data
  - `SELECT title from Book ORDER BY title` sorts in alphabetical order ascending
  - `SELECT title from Book ORDER BY title DESC` for descending order
  - `SELECT title from Book ORDER BY 2` sorts by ascending order by column 2

- DISTINCT: Eliminates duplicates in the dataset
  - `SELECT DISTINCT(country) FROM author`

- GROUP BY: Groups the results into subsets that has matching value
  - `SELECT country, count(country) FROM author GROUP BY country`
  - `SELECT country, count(country) as Count_1 from author GROUP BY country` changes the counted column name to Count_1

- HAVING: HAVING is used in combination with GROUP BY. Basically same as WHERE, picks specific rows.
  - `SELECT country, count(country) as Count_1 from author GROUP BY country HAVING count(country) > 4` Only gives rows that has same country count that is > 4

# **Built in Functions**
- Aggregate Functions: Collects some or entire column and outputs a single value
  - SUM(), MIN(), MAX(), AVG(), ETC
- Scalar Functions: Performs operations on every single input value
  - ROUND(), LENGTH(), UCASE(), LCASE()
- Date and Time Functions: Retrieves data values
  - Date format: YYYYMMDD
  - Time format: HHMMSS
  - DAY(date_column),
  - Can also perform date or time arithmetic
    - `SELECT (date_column + 3 DAYS) from TABLE`

# **Sub-Queries and Nested Selects**
- Sub-Query: A query inside another query
  - SELECT COLUMN1 FROM TABLE WHERE COLUMN2 = `(SELECT MAX(COLUMN2) FROM TABLE)`
- You cannot evaluate Aggregate functions like AVG() in without Sub queires.
  - WRONG = `SELECT * FROM EMPLOYEES WHERE SALARY > AVG(SALARY)`
  - CORRECT = `SELECT * FROM EMPLOYEES WHERE SALARY > (SELECT AVG(SALARY) FROM EMPLOYEES)`
- Sub queries can also be used in list of columns like SELECT function (Column Expression)
- Table expression: Temporary named result set table that you can reference
  - `SELECT * FROM (SELECT EMP_ID, F_NAME, L_NAME) AS TEMP_TABLE` will return a table with only those 3 columns.

# **Querying Multiple Tables**
- To retrieve only the list of employees from a specific location
  - EMPLOYEES table does not contain location information
  - Need to get location info elsewhere so, we use sub-queries to access other table

   
    SELECT * FROM employees
    WHERE DEP_ID IN
    (SELECT DEPT_ID_DEP FROM DEPARTMENTS
    WHERE LOC_ID = 'L0002');

- `WHERE DEP_ID in SELECT DEPT_ID_DEP` should link together.

Another example: Retrieve the department ID and name for employees who earn more than $70,000.
- DEPT_ID_DEP from departments has same value in DEP_ID from employees meaning they are related.


    SELECT DEPT_ID_DEP, DEP_NAME from departments
    WHERE DEPT_ID_DEP IN
    (SELECT DEP_ID FROM employees
    WHERE SALARY > 70000);
  
- Implicit Join will fully join the tables together next to each other (horizontal)
  - `SELECT * FROM employees, departments`
- To limit the result set you can use where clause to


    SELECT * FROM employees, departments
    WHERE employees.DEP_ID = departments.DEPT_ID_DEP
  or to simplify
    

    SELECT * FROM employees E, departments D
    WHERE E.DEP_ID = D.DEPT_ID_DEP