# DML (Data Manipulation Language)

### SELECT
column1, column2, ...

### FROM
table_name

### WHERE
condition

### INSERT
is used to insert new rows into a table

`INSERT INTO Instructor(ins_id, lastname, firstname, city, country)
VALUES(4, 'Saha', 'Sandip', 'Edmonton', 'CA');`

### UPDATE
is used to update the data in existing rows in the table

 `UPDATE Instructor  
SET city='Toronto' 
WHERE firstname="Sandip";`

### DELETE
is used to remove rows from a table

`DELETE FROM instructor
WHERE ins_id = 6;`

### COUNT
is an aggregate function that retrieves the number of rows that matches the query criteria.

`SELECT COUNT(Locations)
FROM FilmLocations
WHERE Writer="James Cameron";`

### DISTINCT
is used to remove duplicate values from a specified result set and only return the unique values

`SELECT COUNT(DISTINCT Distributor)
FROM FilmLocations
WHERE Actor1="Clint Eastwood";`

### LIMIT
is used for restricting the number of rows retrieved from the table

`SELECT *
FROM FilmLocations LIMIT 15 OFFSET 10;`

# DDL (Data Definition Language)

- Data types
  - char(#): character string of a fixed length of #
  - varchar(#): character string of a variable up to the specified #
  - PRIMARY KEY: prevents duplicate value in each row (Should be used for Primary key
  - NOT NULL: data must not contain NULL value

### CREATE
creating tables and definding column

`CREATE TABLE name (
column_name1 datatype,
column_name2 datatype,
...
)`

### ALTER
altering tables including adding, dropping and, modifying datas

`ALTER TABLE table_name
ADD COLUMN column_name data_type column_constraint;`
  
  
`ALTER TABLE table_name
DROP COLUMN column_name;`
  
  
`ALTER TABLE table_name
ALTER COLUMN column_name SET DATA TYPE data_type;`
  
  
`ALTER TABLE table_name
RENAME COLUMN current_column_name TO new_column_name;`


### TRUNCATE
deleting data in the table but not the table itself

`TRUNCATE TABLE table_name;`

### DROP
deleting tables

`DROP TABLE table_name;`

# String Pattern and Ranges

- `%` is used to represent characters. It can be used after or before the string

### LIKE
is used with WHERE and searches string pattern predicate

`SELECT firstname FROM author WHERE firstname LIKE "R%"`

### BETWEEN
Used with WHERE and returns values between the two number

`SELECT title, pages FROM book WHERE pages BETWEEN 290 and 300`

### IN
Used with WHERE and returns values that are in the specified character

`SELECT firstname, lastname, country FROM author WHERE country IN ('AB', 'CD,'EF')`

### REPLACE
Used to replaces the specified string with new substring

`SELECT title, REPLACE(column_name, 'removal_string','new_string')`

# SORT and GROUP

### ORDER BY
sorts the data

`SELECT title from Book ORDER BY title` sorts in alphabetical order

`SELECT title from Book ORDER BY title DESC` for descending order


### DISTINCT
Eliminates duplicates in the dataset

`SELECT DISTINCT(country) FROM author`


### GROUP BY
Groups the results into subsets that has matching value

`SELECT country, count(country) FROM author GROUP BY country`

`SELECT country, count(country) as Count_1 from author GROUP BY country` changes the counted column name to Count_1


### HAVING
Is used in combination with GROUP BY. Basically same as WHERE, picks specific rows.

`SELECT country, count(country) as Count_1 from author GROUP BY country HAVING count(country) > 4` Only gives rows that has same country count that is > 4

# Built in Functions

Aggregate Functions: Collects some or entire column and outputs a single value
- SUM(), MIN(), MAX(), AVG(), ETC

Scalar Functions: Performs operations on every single input value
- ROUND(), LENGTH(), UCASE(), LCASE()